---
const PROJECTS = [
    {
        title: 'Project 1 ',
        description: 'descripcion',
        link: '#',
        github: '#',
        image:'',
        tags: ['HTML, CSS, JAVASCRIPT']
    }
]

---
{
    PROJECTS.map(({title, image, description, tags}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map ((tag) => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt="Aqui va el proyecto">
        </article>
    ))
}
